<footer>
    <button>
        <a href="#" title="Volver a Inicio"><img src="#" alt="Flecha hacia arriba" /></a>
    </button>
    <section>
        <nav>
            <ul>
                <li><a href="#" title="Artículos" target="_blank">articles</a></li>
                <li><a href="#" title="Libros" target="_blank">books</a></li>
                <li><a href="#" title="Eventos" target="_blank">events</a></li>
                <li><a href="#" title="Reasons" target="_blank">reasons</a></li>
                <li><a href="#" title="tips" target="_blank">tips</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <ul>
            <li><a href="#" title="Ir a Twitter" target="_blank">Twitter</a></li>
            <li><a href="#" title="Ir a Instagram" target="_blank">Instagram</a></li>
            <li><a href="#" title="Ir a mastodon.social" target="_blank">Mastodon.social</a></li>
        </ul>
    </section>
    <small>&copy;2021 we <img src="#" alt="Icono de corazón" /> components</small>
</footer>