<footer class="footer">
    <button class="footer__button">
        <a class="footer__button--link" href="#top" title="Volver a Inicio"></a>
    </button>
    <div class="footer__container">
        <nav class="footer__container--menu">
            <ul class="list">
                <li><a class="link" href="https://adalab.es/" title="Artículos" target="_blank">articles</a></li>
                <li><a class="link" href="https://adalab.es/" title="Libros" target="_blank">books</a></li>
                <li><a class="link" href="https://adalab.es/" title="Eventos" target="_blank">events</a></li>
                <li><a class="link" href="https://adalab.es/" title="Reasons" target="_blank">reasons</a></li>
                <li><a class="link" href="https://adalab.es/" title="tips" target="_blank">tips</a></li>
            </ul>
        </nav>
        <nav class="footer__container--social">
            <ul class="rrss">
                <li><a class="link" href="https://adalab.es/" title="Ir a Twitter" target="_blank">Twitter</a>
                </li>
                <li><a class="link" href="https://adalab.es/" title="Ir a Instagram" target="_blank">Instagram</a>
                </li>
                <li><a class="link" href="https://adalab.es/" title="Ir a mastodon.social"
                        target="_blank">Mastodon.social</a></li>
            </ul>
        </nav>
        <small class="footer__container--small">
            <p>&copy;2021</p>
            <p>we <span class="span">❤︎</span> components</p>
        </small>
    </div>
</footer>