<header class="header" id="top">
    <nav class="header__burguer">
        <a class="header__burguer--link" href="https://adalab.es/" title="Menú desplegable" target="_blank">
            <img src="./assets/images/ico-menu.svg" alt="Menú desplegable" />
        </a>
    </nav>
    <section class="header__hero">
        <h1 class="header__hero--title">anonymous proxy</h1>
        <p class="header__hero--text">In hac habitasse platea dictumst.</p>
        <button class="header__hero--btn">
            <a class="link" href="#3reasons" title="Atajo a la sección 3 Reasons To Purchase"></a>
        </button>
    </section>
</header>