<section class="section2" id="3reasons">
    <h2 class="section2__title">3 Reasons To Purchase</h2>

    <include src="./reason.html" class_article="first" title_article="Ut sed metus"
        text_article="Lorem ipsum dolor sit amet, consecteur.">
    </include>

    <include src="./reason.html" class_article="second" title_article="Curabitur ac erat"
        text_article="Mauris mattis urna quis lorem molestie.">
    </include>

    <include src="./reason.html" class_article="third" title_article="Morbi dictum"
        text_article="Aliquam in dolor et dolor tincidunt.">
    </include>

    <button class="section2__button" name="button_reasons">More reasons</button>
</section>