<section class="section2" id="3reasons">
    <h2 class="section2__title">3 Reasons To Purchase</h2>
    <article class="section2__article first">
        <h3 class="section2__article--title">Ut sed metus</h3>
        <p class="section2__article--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="section2__article second">
        <h3 class="section2__article--title">Curabitur ac erat</h3>
        <p class="section2__article--text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="section2__article third">
        <h3 class="section2__article--title">Morbi dictum</h3>
        <p class="section2__article--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <button class="section2__button" name="button_reasons">More reasons</button>
</section>