$colorMenu: #0271bc;
$colorTextHero: #ffffff;
$colorNameSection: #8ccbea;
$colorTitleSection: black;
$colorTextSection: #4a4a4a;
$colorbutton: #f26002;
$colorFooter: #304268;
$fontTitle: "Roboto Slab", serif;
$fontText: "Roboto", sans-serif;
