.section2 {
  width: 100%;
  background-color: #eff9ff;
  padding: 30px 15px 60px 15px;
  text-align: center;
  display: grid;
  grid-row-gap: 45px;
  grid-template-columns: 1fr 184px 1fr;
  grid-template-rows: 30px repeat(3, 1fr) 90px;
  @media all and (min-width: 768px) {
    padding: 30px 12.3px 60px 8px;
    grid-template-columns: 1fr repeat(3, 212.3px) 1fr;
    grid-template-rows: 45px 1fr 60px;
    grid-column-gap: 27.7px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 58.8px 60px 55px;
    grid-template-columns: 1fr repeat(3, 353px) 1fr;
    grid-column-gap: 26.2px;
  }
  &__title {
    font-family: $fontTitle;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $colorTitleSection;
    grid-column: 1/4;
    grid-row: 1/2;
    @media all and (min-width: 768px) {
      grid-column: 1/6;
      grid-row: 1/2;
      font-size: 24px;
    }
  }
  &__article {
    // margin-top: 45px;
    @media all and (min-width: 768px) {
      height: 100%;
      width: 100%;
      text-align: center;
    }

    &--title {
      font-family: $fontTitle;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.67;
      color: $colorTitleSection;
      @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.25;
      }
    }
    &--text {
      font-family: $fontText;
      font-size: 18px;
      line-height: 1.67;
      color: $colorTitleSection;
      @media all and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    &.first {
      grid-column: 2/3;
      grid-row: 2/3;
      @media all and (min-width: 768px) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      @media all and (min-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &.second {
      grid-column: 2/3;
      grid-row: 3/4;
      @media all and (min-width: 768px) {
        grid-column: 3/4;
        grid-row: 2/3;
      }
      @media all and (min-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &.third {
      grid-column: 2/3;
      grid-row: 4/5;
      @media all and (min-width: 768px) {
        grid-column: 4/5;
        grid-row: 2/3;
      }
      @media all and (min-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  &__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $colorbutton;
    border: 1px solid $colorbutton;
    color: $colorTextHero;
    font-family: $fontText;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    grid-column: 2 / 3;
    grid-row: 5/6;
    transition: all 500ms linear;
    &:hover {
      color: $colorbutton;
      background-color: $colorTextHero;
      border: 1px solid $colorbutton;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }
    @media all and (min-width: 768px) {
      margin-top: 15px;
      width: 210px;
      grid-column: 3/4;
      grid-row: 3/4;
      width: 210px;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
    }
  }
}
